@* Footer Component - Phần chân trang *@
<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-center" style="text-align: center; width: 100%;">
            <p class="footer-text">
                Phần mềm này đơn đến từ 
                <a href="#" class="footer-link">API-TEST-CÔNG TY CỔ PHẦN QUỐC TẾ GIA</a> | 
                <a href="#" class="footer-link">Xin hãy liên hệ 0911111111</a> | 
                Powered by <a href="https://accotree.vn" class="footer-link" target="_blank">AccoTree.vn</a>
            </p>
        </div>
    </div>
</footer>

