
<header class="top-header">
    <div class="header-container">
        <div class="header-left">
            <img src="/LOGO-Logistics.png" alt="Logo" class="logo" />
            <h1 class="site-title">BẢNG ĐIỀU KHIỂN</h1>
        </div>
        <div class="header-right">
            <div class="user-info">
              
                <div class="dropdown">
                    <button class="btn btn-link user-name dropdown-toggle" type="button" id="userDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false"
                        style="color: white; background-color: transparent; text-decoration:none;">

                        👤 Xin chào  <i class="fa fa-caret-down ms-1"></i>

                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" href="/update-profile">
                                <i class="fa fa-user"></i> Thông tin cá nhân
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="/logout">
                                <i class="fa fa-sign-out-alt"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
 