@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

@* Menu Navigation Component *@
<nav class="main-menu">
    <ul class="menu-list">
        <AuthorizeView Roles="admin,staff">

        <li class="menu-item">
            <NavLink class="menu-link" href="/dashboard" Match="NavLinkMatch.All">
                <span class="menu-icon">🏠</span>
                <span class="menu-text">Dashboard</span>
            </NavLink>
        </li>
        </AuthorizeView>
        
        @* Menu Đơn hàng - Hiển thị cho Admin và Staff *@
        <AuthorizeView Roles="admin,staff">
            <li class="menu-item dropdown">
                <a class="menu-link dropdown-toggle" href="#" @onclick="ToggleDonHang" @onclick:preventDefault>
                    <span class="menu-icon"><i class="fa-solid fa-file-invoice"></i></span>   
                    <span class="menu-text">Đơn hàng</span>
                    <span class="dropdown-arrow">▼</span>
                </a>
                @if (showDonHang)
                {
                    <ul class="submenu">
                        <li><NavLink class="submenu-link" href="/cargo-list">Danh sách đơn hàng</NavLink></li>
                        <li><NavLink class="submenu-link" href="/create-cargo">Thêm đơn hàng</NavLink></li>
                        <AuthorizeView Roles="admin" Context="adminContext">
                            <li><NavLink class="submenu-link" href="/export-excel">Xuất Excel</NavLink></li>
                            <li><NavLink class="submenu-link" href="/storage_data">Lưu trữ dữ liệu</NavLink></li>
                        </AuthorizeView>
                    </ul>
                }
            </li>
        </AuthorizeView>

        @* Menu Khách hàng - Hiển thị cho Admin và Staff *@
        <AuthorizeView Roles="admin,staff">
            <li class="menu-item dropdown">
                <a class="menu-link dropdown-toggle" href="#" @onclick="ToggleKhachHang" @onclick:preventDefault>
                    <span class="menu-icon"><i class="fa-solid fa-user"></i></span>   
                    <span class="menu-text">Khách hàng</span>
                    <span class="dropdown-arrow">▼</span>
                </a>
                @if (showKhachHang)
                {
                    <ul class="submenu">
                        <li><NavLink class="submenu-link" href="/customer-list">Danh sách khách hàng</NavLink></li>
                        <li><NavLink class="submenu-link" href="/create-customer">Thêm khách hàng</NavLink></li>
                    </ul>
                }
            </li>
        </AuthorizeView>

        @* Menu Người dùng - Chỉ hiển thị cho Admin *@
        <AuthorizeView Roles="admin,staff">
            <li class="menu-item dropdown">
                <a class="menu-link dropdown-toggle" href="#" @onclick="ToggleNhanVien" @onclick:preventDefault>
                    <span class="menu-icon">👥</span>   
                    <span class="menu-text">Người dùng</span>
                    <span class="dropdown-arrow">▼</span>
                </a>
                @if (showNhanVien)
                {
                    <ul class="submenu">
                        <li><NavLink class="submenu-link" href="/user-list">Danh sách người dùng</NavLink></li>
                        <li><NavLink class="submenu-link" href="/create-user">Thêm người dùng</NavLink></li>
                    </ul>
                }
            </li>
        </AuthorizeView>

        @* Menu Shipper - Hiển thị cho tất cả roles *@
        <li class="menu-item dropdown">
            <a class="menu-link dropdown-toggle" href="#" @onclick="ToggleShipper" @onclick:preventDefault>
                <span class="menu-icon"><i class="fa-solid fa-truck"></i></span>   
                <span class="menu-text">Shipper</span>
                <span class="dropdown-arrow">▼</span>
            </a>
            @if (showShipper)
            {
                <ul class="submenu">
                    @* Danh sách shipper và Thêm shipper - Chỉ Admin và Staff *@
                    <AuthorizeView Roles="admin,staff">
                        <li><NavLink class="submenu-link" href="/shipper-list">Danh sách shipper</NavLink></li>
                        <li><NavLink class="submenu-link" href="/create-shipper">Thêm shipper</NavLink></li>
                    </AuthorizeView>
                    
                    @* Đơn hàng của tôi - Hiển thị cho Shipper *@
                    <AuthorizeView Roles="shipper">
                        <li><NavLink class="submenu-link" href="/shipper-cargo-list">Đơn hàng của tôi</NavLink></li>
                    </AuthorizeView>
                </ul>
            }
        </li>
    </ul>
</nav>


@code {
    private bool showDonHang = false;
    private bool showKhachHang = false;
    private bool showNhanVien = false;
    private bool showShipper = false;

    private void ToggleShipper()
    {
        showShipper = !showShipper;
        // Đóng các dropdown khác
        showDonHang = false;
        showKhachHang = false;
        showNhanVien = false;
    }

    private void ToggleDonHang()
    {
        showDonHang = !showDonHang;
        // Đóng các dropdown khác
        showKhachHang = false;
        showNhanVien = false;
        showShipper = false;
    }

    private void ToggleKhachHang()
    {
        showKhachHang = !showKhachHang;
        // Đóng các dropdown khác
        showDonHang = false;
        showNhanVien = false;
        showShipper = false;
    }

    private void ToggleNhanVien()
    {
        showNhanVien = !showNhanVien;
        // Đóng các dropdown khác
        showDonHang = false;
        showKhachHang = false;
        showShipper = false;
    }
}

